# SPDX-FileCopyrightText: 2025 Anna-Lena Marx <mail@marx.engineer>
#
# SPDX-License-Identifier: CC0-1.0

build
build*

*.DS_Store*

/.west
/bootloader
/modules
/tools
/zephyr
__pycache__
/nrf
/nrfxlib
/test
/.vscode/
/doc/_build_doxygen
/doc/_build_sphinx
