menu "ZEReader"

config PIXEL_FORMAT_MONO10
        bool "Reverse display colors"
        default y

# Logging
# use template to create log level configurations
module = ZEREADER
module-str = zereader
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"