#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>


/ {

  chosen {
    zephyr,display = &uc8179_waveshare_epaper_gdew075t7;
  };

  mipi_dbi_waveshare_epaper_gdew075t7 {
    compatible = "zephyr,mipi-dbi-spi";
    spi-dev = <&spi0>; //spi@0 -> GPIO 16-19
    dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
    reset-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
    write-only;
    #address-cells = <1>;
    #size-cells = <0>;

    uc8179_waveshare_epaper_gdew075t7: uc8179@0 {
      compatible = "gooddisplay,gdew075t7", "ultrachip,uc8179";
      mipi-max-frequency = <4000000>;
      reg = <0>;
      width = <800>;
      height = <480>;
      busy-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;

      softstart = [ 17 17 17 17  ];

      full {
        pwr = [ 07 07 3f 3f  ];
        cdi = <07>;
        tcon = <0x22>;
      };
    };
  };

  keys: keys {
    compatible = "gpio-keys";
    button0: button0 {
      gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_0>;
    };

    button1: button1 {
      gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_1>;
    };

    button2: button2 {
      gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_2>;
    };
  };

  lvgl_button_input: lvgl_button_input {
    compatible = "zephyr,lvgl-button-input";
    input = <&keys>;
    input-codes = <INPUT_KEY_0 INPUT_KEY_1 INPUT_KEY_2>;
    coordinates = <10 470>, <400 470>, <780 470>;
  };
};

// spi1: spi@40040000 {
//   compatible = "raspberrypi,pico-spi", "arm,pl022";
//   #address-cells = <1>;
//   #size-cells = <0>;
//   reg = <0x40040000 DT_SIZE_K(4)>;
//   resets = <&reset RPI_PICO_RESETS_RESET_SPI1>;
//   clocks = <&clocks RPI_PICO_CLKID_CLK_PERI>;
//   interrupts = <19 RPI_PICO_DEFAULT_IRQ_PRIORITY>;
//   interrupt-names = "spi1";
//   status = "disabled";
// };

// spi0_default: spi0_default {
//   group1 {
//     pinmux = <SPI0_CSN_P17>, <SPI0_SCK_P18>, <SPI0_TX_P19>;
//   };
//   group2 {
//     pinmux = <SPI0_RX_P16>;
//     input-enable;
//   };
// };

// &spi0 {
// 	clock-frequency = <DT_FREQ_M(8)>;
// 	status = "okay";
// 	pinctrl-0 = <&spi0_default>;
// 	pinctrl-names = "default";
// };

// Pinmux defines:
// https://docs.zephyrproject.org/apidoc/latest/rpi-pico-pinctrl-common_8h_source.html
&pinctrl {
  spi1_default: spi1_default {
    group1 {
      pinmux = <SPI1_CSN_P13>, <SPI1_SCK_P14>, <SPI1_TX_P15>;
    };
    group2 {
      pinmux = <SPI1_RX_P12>;
      input-enable;
    };
  };
};

&spi1 {
  clock-frequency = <DT_FREQ_M(8)>;
  status = "okay";
  pinctrl-0 = <&spi1_default>;
  pinctrl-names = "default";

  cs-gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;

  sdhc0: sdhc@0 {
    compatible = "zephyr,sdhc-spi-slot";
    reg = <0>;
    status = "okay";
    mmc {
      compatible = "zephyr,sdmmc-disk";
      disk-name = "SD";
      status = "okay";
    };
    spi-max-frequency = <20000000>;
  };
};