#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>


/ {

  chosen {
    zephyr,display = &uc8179_waveshare_epaper_gdew075t7;
  };

  mipi_dbi_waveshare_epaper_gdew075t7 {
    compatible = "zephyr,mipi-dbi-spi";
    spi-dev = <&spi0>; //spi@0 -> GPIO 16-19
    dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
    reset-gpios = <&gpio0 21 GPIO_ACTIVE_LOW>;
    write-only;
    #address-cells = <1>;
    #size-cells = <0>;

    uc8179_waveshare_epaper_gdew075t7: uc8179@0 {
      compatible = "gooddisplay,gdew075t7", "ultrachip,uc8179";
      mipi-max-frequency = <4000000>;
      reg = <0>;
      width = <800>;
      height = <480>;
      busy-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;

      softstart = [ 17 17 17  ];

      full {
        pwr = [ 07 07 3f 3f  ];
        // pwr = [ 03 00 36 36 09 ];
        cdi = <0x07>;
        // cdi = <0xd7>;
        tcon = <0x22>;
      };

      partial {
        pwr = [ 03 02 2b 2b ];
				cdi = <0x07>;
				pll = <0x3c>;
				vdcs = <0x08>;

        // Too much artifacts!
        // lutc = [
				// 	00 01 0E 00 00 01
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00
				// ];

				// lutww = [
				// 	00 01 0E 00 00 01
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// ];

				// lutkw = [
				// 	20 01 0E 00 00 01
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// ];

				// lutwk = [
				// 	10 01 0E 00 00 01
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// ];

				// lutkk = [
				// 	00 01 0E 00 00 01
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// 	00 00 00 00 00 00
				// ];
      };
    };
  };

  keys: keys {
    compatible = "gpio-keys";
    button0: button0 {
      gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_0>;
    };

    button1: button1 {
      gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_1>;
    };

    button2: button2 {
      gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_2>;
    };

    button3: button3 {
      gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
      zephyr,code = <INPUT_KEY_3>;
    };
  };

  lvgl_button_input: lvgl_button_input {
    compatible = "zephyr,lvgl-button-input";
    input = <&keys>;
    input-codes = <INPUT_KEY_0 INPUT_KEY_1 INPUT_KEY_2 INPUT_KEY_3>;
    coordinates = <10 470>, <400 470>, <780 470>, <15 470>;
  };
};

// Pinmux defines:
// https://docs.zephyrproject.org/apidoc/latest/rpi-pico-pinctrl-common_8h_source.html
&pinctrl {
  spi1_default: spi1_default {
    group1 {
      pinmux = <SPI1_CSN_P13>, <SPI1_SCK_P10>, <SPI1_TX_P11>;
    };
    group2 {
      pinmux = <SPI1_RX_P12>;
      input-enable;
    };
  };
};

&spi1 {
  clock-frequency = <DT_FREQ_M(8)>;
  status = "okay";
  pinctrl-0 = <&spi1_default>;
  pinctrl-names = "default";

  cs-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;

  sdhc0: sdhc@0 {
    compatible = "zephyr,sdhc-spi-slot";
    reg = <0>;
    status = "okay";
    mmc {
      compatible = "zephyr,sdmmc-disk";
      disk-name = "SD";
      status = "okay";
    };
    spi-max-frequency = <20000000>;
  };
};

&i2c0 {
  status = "disabled";
};

&i2c1 {
  status = "disabled";
};